<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.jtb.httpmon" android:versionCode="23" android:versionName="0.4.6">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".ManageMonitorsActivity"
			android:launchMode="singleTask" android:label="httpmon - Manage Monitors">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".PrefsActivity" android:label="httpmon - Preferences" />
		<activity android:name=".LogActivity" android:label="httpmon - View Log" />
		<activity android:name=".EditMonitorActivity" android:label="httpmon - Edit Monitor" />
		<activity android:name=".EditRequestActivity" android:label="httpmon - Edit Request" />
		<activity android:name=".EditResponseTimeConditionActivity"
			android:label="httpmon - Edit Response Time Condition" />
		<activity android:name=".EditResponseCodeConditionActivity"
			android:label="httpmon - Edit Response Code Condition" />
		<activity android:name=".EditContentContainsConditionActivity"
			android:label="httpmon - Edit Content Contains Condition" />
		<activity android:name=".EditHeaderContainsConditionActivity"
			android:label="httpmon - Edit Header Contains Condition" />
		<activity android:name=".EditNotificationActionActivity"
			android:label="httpmon - Edit Notification Action" />
		<activity android:name=".EditSmsActionActivity"
			android:label="httpmon - Edit SMS Action" />
		<service android:name=".MonitorService" />
		<receiver android:name=".ManageMonitorsReceiver" />
		<receiver android:name=".MonitorReceiver" />
		<receiver android:name=".SmsSentReceiver">
			<intent-filter>
				<action android:name="sms_sent" />
			</intent-filter>
		</receiver>
		<receiver android:name=".SmsDeliveredReceiver">
			<intent-filter>
				<action android:name="sms_delivered" />
			</intent-filter>
		</receiver>
		<receiver android:name=".BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	</application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<uses-sdk android:minSdkVersion="4" />
</manifest> 